@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    James Arbuckle<br />
    92 Laurel Drive,<br />
    Strabane,<br />
    Co. Tyrone<br />
</address>
<address>
    <strong> Mobile:</strong> 07718340889
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:jamesy47@hotmail.com">jamesy47@hotmail.com</a><br />
</address>